option_settings:
  aws:elasticbeanstalk:container:python:
    WSGIPath: genera.wsgi:application
  aws:elasticbeanstalk:environment:proxy:staticfiles:
    /static: static_prod
    /media: media
  aws:autoscaling:updatepolicy:rollingupdate:
    RollingUpdateEnabled: true
    MaxBatchSize: 1
    MinInstancesInService: 0
    RollingUpdateType: Health