container_commands:
    01_migrate:
        command: source $PYTHONPATH/activate && python manage.py makemigrations main --noinput && python manage.py makemigrations payments --noinput && python manage.py migrate --fake sessions zero && python manage.py migrate --fake-initial &&  python populate.py
        leader_only: true