{% extends 'base.html' %}
{% load static %}

{% block body_block %}
    <div class="collection_structure">
        <h1>Collections</h1>
        <div class="all_collections_layout">
        {% if users_collections %}
            {% for collection in users_collections %}
                
                <div class="collection_card shadow_strong rounded_container_no_padding">
                    <img src="/static/icons/remove.svg" class="close_button remove_image_button color_image_orange">
                    <img src="{{collection.collectionimage_set.first.path}}" class="nft_image">
                    <div>
                        <p class="no_margin center">{{collection.collection_name}}</p>
                        <div><p style="font-size: smaller;" class="no_margin center">{{collection.description}}</p></div>
                        
                        <a href="{% url 'polls:collection' user.username collection.collection_name %}" style="text-decoration: none;">
                            <button class="collection_card_button orange_background collection_card_button_text" >View</button>
                        </a>
                    </div>
                </div>
            {% endfor %}
        {% endif %}
        </div>
    </div>
{% endblock %}