{% load static %}

<!DOCTYPE html>

<html lang="en">

<head>

  <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}" />
  <link rel="stylesheet" type="text/css" href="{% static 'css/libraries/notifications.css' %}" />
  <script defer type="text/javascript" src="{% static 'js/global.js' %}"></script>
  <script defer type="text/javascript" src="{% static 'js/libraries/notifications.js' %}"></script>

  <!-- <link
    rel="stylesheet"
    href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css"
  /> -->

  <!-- jQuery library -->
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>

  <!-- Latest compiled JavaScript -->
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>

<body>
  {% block body_block %}{% endblock %}


  <br><br><br><br>
  <a href="{% url 'polls:upload' %}">
    <button class="general_button light_grey_background">GO HOME (UPLOAD PAGE LOL)!</button>
  </a>

</body>


