{% load static %}

<!DOCTYPE html>

<html lang="en">

  <head>
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/libraries/notifications.css' %}" />
    <script type="text/javascript" src="{% static 'js/global.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libraries/notifications.js' %}"></script>
    {% block head_block %}{% endblock %}
  </head>

  <body>
    <!-- <div class="background_image_wrapper" >
      <div class="cover-image">
        <img src="{% static 'Assets/Background/websitebackground.png' %}" alt="">
      </div>
    </div> -->
    <div class="nav_bar_wrapper">
  
    <div class="nav_bar"style="align-items: start">
      <a href="{% url 'polls:upload' %}">
      <button class="" style="margin: 15px;">Home</button>
    </a>
      {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li  {% if message.tags %} style="color: red; font-size: 2em;" class=" {{ message.tags }} " {% endif %}> {{ message }} </li>
            {% endfor %}
        </ul>
      {% endif %}

      {% if request.user.is_authenticated%}
        <div class="dropdown">
        <button onclick="myFunction()" class="dropbtn rounded_container_no_padding">Logged in as: {{request.user.username}}</button>
          <div id="myDropdown" class="dropdown-content rounded_container_no_padding">
            <a href="{% url 'polls:all_collections' request.user.username %}"><p>View Collections</p></a>
            <button class="btn-toggle">Theme</button>
            <a href="#">Link 3</a>
        </div>
      </div>   
      {% else %}
        <a href="{% url 'polls:login' %}"><p style="color: aqua;">You are not logged in. Please log in!</p></a>
      {% endif %}

      

      
  </div>
  </div>
    
    

    {% block body_block %}{% endblock %}

    <br><br><br><br>
    <a href="{% url 'polls:upload' %}">
      <button class="general_button light_grey_background grow" style="margin: 15px;">GO HOME (UPLOAD PAGE LOL)!</button>
    </a>

  </body>

</html>

