{% extends 'base.html' %}
{% load static %}

<!--
	1) AUTHENTICATE WITH METAMASK
	2) ADD USER TO DB
	3) ADD MORE DATA TO THE USER PROFILE
-->

{% block head_block %}
  <title>Metamask Demo</title>
  <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
  <script src="https://unpkg.com/moralis/dist/moralis.js"></script>
  <script type="text/javascript" src="{% static 'js/metamask.js' %}"></script>
{% endblock %}

{% block body_block %}
  <button class="metamask_login_button general_button orange_background grow">Login with Metamask</button>
{% endblock %}
