{% extends 'base.html' %}
{% load static %}

{% block body_block %}
    <h1 class="top-space-heading">Register</h1>

    {% if registered %}
        <strong>You have been successfully registered!</strong>
        <a href="{% url 'polls:main_view'%}">Go Home</a><br />
    {% else %}

        <form id="register_form" method="post" action="{% url 'polls:register' %}" enctype="multipart/form-data">
            {% csrf_token %}
            {{ register_form }}

            <button class = 'btn btn-outline-dark btn-lg' type="submit" name="submit" > Register </button>
        </form>

    {% endif %}

{% endblock %}