{% extends 'base.html' %}
{% load static %}

{% block head_block %}
  <script type="text/javascript" src="{% static 'js/upload_page.js' %}"></script>
  <!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script> -->
  <!-- <script src="https://cdn.jsdelivr.net/npm/jquery@2.1.0/dist/jquery.min.js"></script> -->
  <!-- <script type="text/javascript" src="{% static 'js/temp.js' %}"></script> -->
<link rel="stylesheet" href="">
{% endblock %}

{% block body_block %}
<input type="hidden" id="js_vars" data-ajax_url='{{ajax_url}}'>

<form method="post" enctype="multipart/form-data" class="upload_wrapper">
  {% csrf_token %}
  <div class="upload_upper">
    <div class="upload_section_swap rounded_container shadow_strong">
      <img
        src="{% static 'icons/layer2.svg' %} "
        onclick="switch_tabs('layers', this)"
        tabindex="0"
        
      />
      <!-- class="color_icon_background" -->
      <img
        src="{% static 'icons/texture2.svg' %}"
        onclick="switch_tabs('textures', this)"
        tabindex="0"
        
      />
      <!-- class="color_icon_background" -->
      <!-- <img
        class="grow color_image_dark"
        src="{% static 'icons/rarity.svg' %}"
      /> -->
    </div>
  </div>

  <div class="upload_main">
    <div class="upload_layers rounded_container shadow_strong">
      <!-- shadow_strong -->
      <h3 class="no_margin center">Layers </h3>
<!-- <div id="wrapper" class="open">
  <div id="list">
    <div style="display: flex;"><input type="file" name="asset.background" style="margin-bottom: 5px;"><h5>Remove</h5></div>
    <div style="display: flex;"><input type="file" name="asset.background" style="margin-bottom: 5px;"><h5>Remove</h5></div>
    <div style="display: flex;"><input type="file" name="asset.background" style="margin-bottom: 5px;"><h5>Remove</h5></div>
    <div style="display: flex;"><input type="file" name="asset.background" style="margin-bottom: 5px;"><h5>Remove</h5></div>
  </div>
</div> -->
      <div class="upload_layers_buttons">
        <!-- <div class="general_button white_background"><div class="close_button" onclick="delete_button()">X</div><h5 class="no_margin"">Textures</h5><img data-layer="textures" onclick="add_smart_input(this)" class="color_image_orange grow" src="{% static 'icons/plus.svg' %}" onclick="add_layer()">
          </div> -->
      </div>
      <div class="add_layer_section">
        <input
          id="add_layer_input"
          class="general_input"
          type="text"
          placeholder="Add Layer"
        />
        <img
          class="color_image_orange"
          src="{% static 'icons/plus.svg' %}"
          onclick="add_layer()"
          id="add_layer_button"
        />
      </div>
      
    </div>
    <div
      class="upload_layers rounded_container"
      style="display: none"
    >
    <!-- shadow_strong -->
      <h3 class="no_margin center">Textures</h3>
      <div class="upload_layers_buttons">
        <!-- <div class="general_button white_background"><h5 class="no_margin"">Textures</h5><img data-layer="textures" onclick="add_smart_input(this)" class="color_image_orange grow" src="{% static 'icons/plus.svg' %}" onclick="add_layer()">
          </div> -->
      </div>
    </div>

    <div class="upload_preview" style="color: aliceblue">
      <img src="{% static 'Assets/Examples/1.png' %}" alt="Image Preview"/>
      <p></p>
      <ul id="scroller"></ul>
    </div>
    <div class="upload_properties">
      <div class="rounded_container shadow_strong">
        <h3 class="no_margin center">Collection Properties</h3>
        <div style="margin: 10px 0; display: flex; flex-direction: column; gap: 10px; justify-content: space-around; align-items: center;">
          <h5 class="no_margin">Collection Name</h5>
          <input
            required
            class="general_input"
            name="collection_name"
            type="text"
            value="Void Chan"
            placeholder="E.g. Void Chans"
            onchange = ajax_validate_field(this)
          />
          <h5 class="no_margin">Image Name</h5>
          <input
            required
            class="general_input"
            name="image_name"
            type="text"
            value="Void"
            placeholder="E.g. Void"
            onchange = ajax_validate_field(this)
          />
          <h5 class="no_margin">Token Name</h5>
          <input
            required
            class="general_input"
            name="token_name"
            type="text"
            value="VDE"
            placeholder="E.g. VDE"
          />
          <h5 class="no_margin">Description</h5>
          <input
            required
            class="general_input"
            name="description"
            type="text"
            value="A collection that shows the emptiness of the soul."
            placeholder="E.g. A collection that shows the emptiness of the soul."
          />
          <h5 class="no_margin">Size</h5>
          <input
            required
            id="collection_size"
            class="general_input"
            min="0"
            max="1000"
            name="size"
            type="number"
            value= "10"
            placeholder="E.g. 150"
          />
          <h5 class="no_margin">Resolution</h5>
          <input
            required
            class="general_input"
            name="resolution_x"
            type="number"
            min="100"
            max="4000"
            value="500"
            placeholder="E.g. 500"
          />
            <input
            required
            class="general_input"
            name="resolution_y"
            type="number"
            min="100"
            max="4000"
            value="500"
            placeholder="E.g. 500"
          />
          <h5 class="no_margin">Texture Map Color</h5>
          <input
            required
            class="general_input"
            name="color"
            type="color"
            value="#FFFFFF"
            placeholder="Texture color"
          />
        </div>
      </div>
      <button disabled type="submit" style="display: none;"></button>
      <button
        type="button"
        class="general_button_no_border orange_background shadow_strong rounded_container_no_padding"
        onclick="create_and_render_loading_popup('Generating Collection')"
      >
        <h4 class="no_margin">Preview</h4>
      </button>

      <input type="hidden" name="rarity_map" id="rarity_map" value="">
      <button
        type="button"
        class="general_button_no_border light_purple_background shadow_strong rounded_container_no_padding"
        onclick="yes_no_popup('Generate Collection?', 'Yes', 'No').then((response) =>{
          if (response){
            close_yes_no_popup()
            this.nextElementSibling.click()
          }
          else{
            close_yes_no_popup()
          }
        })"
      >
      <h4 class="no_margin generate">Generate</h4>
      </button>
      <button
        style="display: none;"
        type="submit"
        class="general_button_no_border light_purple_background shadow_strong rounded_container_no_padding"
        onclick="create_and_render_loading_popup('Generating Collection')"
      >
      <h4 class="no_margin generate">Generate</h4> 
      </button>

      <div style="display: none;" class="update_layer_parameters_menu rounded_container shadow_strong">
        <h3 class="no_margin center">Layer Properties</h3>
        <div style="height:auto; margin: 10px 0; display: flex; flex-direction: column; gap: 25px; align-items: center; justify-content: space-between;">
          <div style="text-align: center; width: 100%;">
            <h5 style="margin: 5px 0;">Layer Name</h5>
            <input class="general_input" id="layer_name_update_field" type="text">
          </div> 
          <button id="confirm_layer_properties_update" type="button" class="light_purple_background general_input general_button_no_border"> <h3 class="no_margin generate">Update properties!</h3> </button>
        </div>


      </div>
    </div>
  </div>
  <!--See Image Uploaded-->
  <!-- <h2 class="my-4">Your Gallery!!</h2>
    <div class="row">
      {% if user_imgs %}
      <div class="col-lg-4 col-md-6 col-sm-12 pb-4 custom_grid">
        {% for img in user_imgs%}
          <img
          style="height: 200px; width: 200px"
          src="/media/{{img.image}}"
          class="img-fluid"
        />
        {% endfor %}
      {% else %}
        <p>No movies posters added.</p>
      {% endif %}
      </div>
    </div> -->
</form>
{% endblock %}
