{% extends 'base.html' %}
{% load static %}

{%block head_block%}
  <title>Checkout canceled</title>
{%endblock%}

{%block body_block%}
  <div class="form_wrapper">
    <div class="background_image_wrapper">
      <div class="cover-image" style="position: absolute"></div>
    </div>
    <div class="base_form shadow_strong rounded_container_no_padding" style="text-align: center; padding:25px;">
      <!-- <h1>{%if credits_gained%}Congratulations!{%endif%}</h1> -->
      <h1>{%if credits_gained%} Congratulations! You gained {{credits_gained}} credits. You paid {{amount_paid}} with tax* {%else%} No charges were made. Your payment did not go through. {%endif%}</h1>
      <h2>{%if credits_gained%}Please check your email for a receipt.{%endif%}</h2>
      {%if not credits_gained%}
      <button class="card_main_color_background general_button_no_border grow">
        <a href="{{payment_link}}">Return to checkout</a>
      </button>
      {%endif%}
    </div>
  </div>
{%endblock%}