{% extends 'base.html' %}
{% load static %}

{%block head_block%}
  <title>Checkout canceled</title>
{%endblock%}

{%block body_block%}
  <section>
    <p>Forgot to add something to your cart? Shop around then come back to pay!</p>
    <h1>YOU HAVE {{request.user.credits}} CREDITS. {%if credits_gained%}YOU GAINED {{credits_gained}} CREDITS. YOU PAID {{amount_paid}} WITH TAX {%else%} YOUR PAYMENT DID NOT GO THROUGH, <a href="{{payment_link}}">PLEASE GO BACK AND PAY</a> {%endif%}</h1>
  </section>
{%endblock%}