:root {
  --text-color: #000000;
  --dark-grey-color: #535242;
  background-image: linear-gradient(#6a74ff1f, #FFFFFF);
  --light-grey-color: #FFFFFF;
  --medium-grey-color: #627EEA;
  --orange-color: #627dea85;
  --image-text-color: #627dea85;
  --white-color: #F7F8FA;
  --off-white-color: #2C2F36;
  --border-color: #EDEEF2;
  --text-generate-color: #FFFFFF;
  --text-preview-color: #5090EA;
  --filter-color-2: #627FEB;
  /* --filter-color: invert(15%) sepia(91%) saturate(4511%) hue-rotate(321deg) brightness(78%) contrast(110%); */
  --filter-color: invert(52%) sepia(52%) saturate(1041%) hue-rotate(200deg) brightness(88%) contrast(111%);
  --icon-color: invert(0%) sepia(3%) saturate(7485%) hue-rotate(139deg) brightness(87%) contrast(101%);
  --dark-grey-color-2: invert(28%) sepia(11%) saturate(872%) hue-rotate(19deg) brightness(92%) contrast(79%);
  --tab-img-color: invert(100%) sepia(4%) saturate(16%) hue-rotate(186deg) brightness(107%) contrast(106%);
  --remove-button-color: invert(80%) sepia(6%) saturate(35%) hue-rotate(169deg) brightness(97%) contrast(93%);
}

body.dark-mode { 
  --text-color: #FFFFFF;
  --dark-grey-color: #FFFFFF;
  background-image: linear-gradient(#2D222E, #212429);
  --light-grey-color: #191B1F;
  --medium-grey-color: #755A7A;
  --orange-color: #16273C; 
  --image-text-color: #4c6993;
  --white-color: #212429;
  --off-white-color: #2C2F36;
  --border-color: #2a2e34;
  --text-generate-color: #BE92C6;
  --text-preview-color: #5090EA;
  --filter-color-2: #1966D4;
  --filter-color: invert(41%) sepia(9%) saturate(1467%) hue-rotate(244deg) brightness(87%) contrast(85%);
  --dark-grey-color-2: invert(100%) sepia(100%) saturate(0%) hue-rotate(78deg) brightness(105%) contrast(101%);
  --tab-img-color: invert(0%) sepia(100%) saturate(21%) hue-rotate(2deg) brightness(101%) contrast(107%);
   --remove-button-color: invert(9%) sepia(4%) saturate(2336%) hue-rotate(179deg) brightness(92%) contrast(87%);
}

/* GENERAL */
input[type="text"],
input[type="number"] {
  background-color: var(--white-color);
  padding: 10px;
  border: none;
  -webkit-border-radius: 5px;
  border-radius: 5px;
  color: var(--dark-grey-color);
}

input[type="text"]:focus,
input[type="number"]:focus {
  outline: 1px solid var(--dark-grey-color);
}

input[type="text"]:focus::placeholder,
input[type="number"]:focus::placeholder {
  opacity: 40%;
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: transparent;
}

::-webkit-scrollbar-thumb {
  background-color: var(--light-grey-color);
  border-radius: 20px;
  border: 6px solid transparent;
  background-clip: content-box;
}

::-webkit-scrollbar-thumb:hover {
  background-color: var(--orange-color);
}

h3,
h4,
h5,
h6 {
  font-weight: lighter;
}

body {
  /* background-color: var(--dark-grey-color); */
  /* background-image: linear-gradient(#2D222E, #212429); */
  font-family: "Roboto Condensed", sans-serif;
  color: var(--text-color);
}

.light_purple_background {
  background-color: var(--medium-grey-color);
}

.light_grey_background {
  background-color: var(--light-grey-color);
}

.dark_grey_background {
  background-color: var(--dark-grey-color);
}

.orange_background {
  background-color: var(--orange-color);
}

.image_text_background {
  background-color: var(--preview-button-color);
}

.white_background {
  background-color: var(--white-color);
}

.remove_text_color{
  color:var()
}

.no_margin {
  margin: 0;
}

.center {
  text-align: center;
}

.shadow_strong {
  box-shadow: rgba(0, 0, 0, 0.055) 0px 14px 20px
    /* rgba(0, 0, 0, 0.22) 0px 10px 10px; */
}

.shadow_weak {
  box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px,
    rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
}

.grow {
  transition: all 0.2s ease-in-out;

}
.grow:hover {
  transform: scale(1.1);
}

.custom_grid * {
  margin: 5px;
  border-radius: 5px;
}

.general_button {
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  /* border: none; */
  border-style: solid;
  border-width: 1px;
  border-color: var(--border-color);
}

.general_button_no_border {
  padding: 10px 20px;
  border-radius: 15px;
  cursor: pointer;
  border: none;
}

.general_button_no_border > h4 {
  color:var(--text-preview-color);
  font-weight: bold;
  
}
.general_button_no_border > .generate {
  color: var(--text-generate-color);
  font-weight: bold;
  
}

.general_input {
  width: 80%;
}
.close_button_color {
  filter: var(--remove-button-color);
}

.color_image_orange {
    /* filter: invert(74%) sepia(37%) saturate(553%) hue-rotate(332deg)
    brightness(95%) contrast(91%); */
    filter: var(--filter-color)
}

.color_icon_background {
    filter: var(--icon-color);
}

.color_image_dark {
  /* filter: invert(30%) sepia(13%) saturate(663%) hue-rotate(19deg)
    brightness(92%) contrast(83%); */
    filter: invert(100%) sepia(0%) saturate(7500%) hue-rotate(18deg) brightness(123%) contrast(102%);
    display: block;
}

.input_file::-webkit-file-upload-button {
  border: none;
  border-radius: 30px;
  background-color: #e2e2da;
  color: rgb(0, 0, 0);
  padding: 20px 35px;
  cursor: pointer;
  font-weight: bold;
}

.rounded_container {
  border-radius: 15px;
  padding: 10px 5px;
}

.top_round_container {
  border-radius: 30px 30px 0px 0px;
}

.bottom_round_container {
  border-radius: 0px 0px 30px 30px;
}

.rounded_container_no_padding {
  border-radius: 30px;
}
#wrapper {
  overflow: hidden;
  /* width: auto; */
  background-color: var(--border-color);
  border-radius: 0 0 15px 15px;
  margin-top: 10px;
  margin-bottom: -10px;
}
#wrapper > div {
  overflow: hidden;
  flex-grow: 1;
}
/* GENERAL */

/* UPLOAD PAGE */
.upload_wrapper {
  padding: 10px 25px;
  height: 95vh;
}

.upload_upper {
  height: 50px;
  width: 100%;
}

.upload_section_swap {
  background-color: var(--light-grey-color);
  height: 90%;
  width: min(30vw, 350px);
  min-width: 280px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 25px;
  float: left;
}

.upload_section_swap > img {
  height: 35px;
  aspect-ratio: 1;
  /* padding-top: 10px; */
  cursor: pointer;
  border-radius: 5px;
  width: 33%;
  filter:var(--tab-img-color)
}
.upload_section_swap > img:hover {
  background-color: var( --off-white-color);
}
.upload_main {
  margin-top: 25px;
  width: 100%;
  height: 85vh;
  display: flex;
  gap: 20px;
}

.upload_layers {
  text-overflow: ellipsis;
  background-color: var(--light-grey-color);
  width: min(30vw, 350px);
  min-width: 280px;
  flex: 0 0 min(30vw, 350px);
  position: relative;
}

.upload_layers_buttons {
  margin: 5px 0 5px 15px;
  overflow-y: scroll;
  max-height: 85%;
}

.upload_layers_buttons > div {
  position: relative;
  margin: 10px 5px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  cursor: default;
}

.upload_layers_buttons > div .close_button {
  display: none;
  text-align: center;
  position: absolute;
  height: 15px;
  aspect-ratio: 1;
  box-sizing: border-box;
  border-radius: 10px 0 0 0;
  overflow: hidden;
  left: 5px;
  top: 0;
  cursor: pointer;
}

.upload_layers_buttons > div:hover .close_button {
  display: block;
}

.upload_layers_buttons > div > img {
  height: 40px;
  aspect-ratio: 1;
  flex: 0 0 40px;
  margin: 5px 5px 0 0;
  cursor: pointer;
}
.upload_layers_buttons > div > div> .expand_collapse{
  height: 10px;
  aspect-ratio: 1;
  margin: 5px 0 0 0;
  cursor: pointer;
  width: 30%;
  filter: var(--dark-grey-color-2);
}

.upload_layers_buttons > div > .expand_button_container {
  background-color: var(--medium-grey-color);
  width: 40px;
  height: 20px;
  border-radius: 15px;
  display: flex;
  justify-content: space-evenly;
  text-align: center;
}

.upload_layers_buttons > div > .expand_button_container > h5 {
  color: var(--dark-grey-color);
  width: 50%;
  margin: 2px 0 0 0;
  text-align: center;
}

.upload_layers_buttons > div > h5 {
  flex: 1 0 50%;
  display: flex;
  font-size: 15px;
}

/* .upload_layers_buttons > div > div {
  flex: 0 0 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  max-width: 100%;
  gap: 5px;
} */

.upload_layers_buttons > div > div > div > div  input[type=range] {
  background-color: var(--orange-color);
}
/* how to fix above? */

.upload_slider_section {
  display: flex;
  gap: 5px;
  margin-bottom: 15px;
}

#wrapper > div {
 flex-wrap: wrap;
}

.upload_layers_buttons > div > div > div > img {
    cursor: pointer;
    margin: 0 0 0 auto;
    margin-bottom: 15px;
    width: 20px;
    align-items: start;
}

.upload_layers_buttons > div > div > div > h4 {
  margin-bottom: 10px;
  color: var(--image-text-color);
  flex-basis: 100%;
  font-size: 14px;
}

.upload_layers > img {
  position: absolute;
  right: 0;
  bottom: 0;
  height: 50px;
  aspect-ratio: 1;
  cursor: pointer;
}

.upload_layers > input {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 0 0 12px 10px;
  width: min(20vw, 250px);
  min-width: 200px;
}

.upload_preview {
  flex: 1 0 300px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.upload_preview > img {
  height: 300px;
  aspect-ratio: 1;
  margin-bottom: 100px;
  cursor: pointer;
}

.upload_preview > img:hover {
  filter: invert(74%) sepia(37%) saturate(553%) hue-rotate(332deg)
    brightness(95%) contrast(91%);
}

.upload_properties {
  flex: 0 0 20vw;
}

.upload_properties > :first-child {
  box-sizing: border-box;
  min-height: 300px;
  width: 100%;
  background-color: var(--light-grey-color);
  margin-bottom: 5px;
}

.upload_properties > button {
  margin: 5px auto;
  width: 100%;
}



/* UPLOAD PAGE */

/* COLLECTION PAGE */
.nft_main {
  text-overflow: ellipsis;
  background-color: var(--white-color);
  width: min(30vw, 200px);
  height: min(45vh, 300px);
  /* flex-wrap: wrap; */
  /* min-width: 280px; */
  /* flex: 0 0 min(30vw, 350px); */
  position: relative;
}

.nft_bottom {
  text-overflow: ellipsis;
  background-color: var(--light-grey-color);
  top: 70%;
  width: 100%;
  height: 30%;
  margin: 0;
  /* min-width: 280px; */
  /* flex: 0 0 min(30vw, 350px); */
  position: absolute;
}

.top_close_button {
  height: 16%;
  width: 15%;
  left: 80%;
  position: absolute;
}

.nft_text {
  margin: 10px 0px 0px 0px;
  color: rgb(0, 0, 0);
}

.view_metadata {
  margin: 10px 0px 0px 0px;
  height: 20%;
  width: 40%;
  left: 30%;
  position: relative;
  font-size: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.nft_preview {
  width: 100%;
  height: 70%;
  margin: 0;
  position: absolute;
}

.nft_preview > img {
  height: 100%;
  aspect-ratio: 1;
  display: block;
  margin-left: auto;
  margin-right: auto;
  /* align-items: center;
  justify-content: center; */
  /* margin-bottom: 100px; */
  /* cursor: pointer; */
}
/* COLLECTION PAGE */

/* all collections */
.collection_structure {
  margin: 0 50px;
}

.collection_structure > h1 {
  color: var(--medium-grey-color);
}

.all_collections_layout {
  display: flex;
  flex-wrap: wrap;
  width: 70vw;
  gap: 15px;
}

.collection_card {
  border-radius: 15px;
  min-height: 250px;
  max-height: 350px;
  width: 200px;
  background-color: var(--medium-grey-color);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-bottom: 15px;
}

.collection_card img {
  max-height: 150px;
  aspect-ratio: 1;
  height: 70%;
  width: 100%;
  margin-bottom: 15px;
}

.collection_card > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.collection_card > div > :last-child {
  flex-grow: 1;
}

.collection_card > div > p{
  margin: 0 5px;
}

.collection_card > div button {
  margin-top: 10px;
}

/* .collection_card button {
  width: 75%;
} */

/* all collections */


/* METAMASK */
.metamask_login_button {
  margin: 15px;
}
.enableEthereumButton {
  margin: 15px;
}
.addToken{
  margin: 15px;
}
/* METAMASK */

/* WEB3 */
.parseAbi{
  margin: 15px;
}
/* WEB3 */


