body {
    background-color: rgb(53,52,42) !important;
    color: #E2E2DA !important;
}


.custom_grid *{
    margin: 5px;
    border-radius: 5px;
}

.input_file::-webkit-file-upload-button {
    border: none;
    border-radius: 30px;
    background-color: #E2E2DA;
    color: rgb(0, 0, 0);
    padding: 20px 35px;
    cursor: pointer;
    font-weight: bold;
}