container_commands:
    01_migrate_all:
        command: source $PYTHONPATH/activate && makemigrations genera --noinput && makemigrations main --noinput && makemigrations payments --noinput
        leader_only: true
    02_migrate_final:
        command: source $PYTHONPATH/activate && python manage.py migrate --run-syncdb --noinput && python manage.py makemigrations --noinput && python populate.py --noinput
        leader_only: true