container_commands:
    01_log:
        command: source $PYTHONPATH/activate && touch my_log.txt
        
    02_migrate:
        command: source $PYTHONPATH/activate && python manage.py makemigrations main --noinput && python manage.py makemigrations payments --noinput && python manage.py migrate --run-syncdb &> my_log.txt
        leader_only: true