container_commands:
    01_migrate_all:
        command: source $PYTHONPATH/activate && makemigrations main --noinput && makemigrations payments --noinput
        
    02_migrate_final:
        command: source $PYTHONPATH/activate && python manage.py migrate main && python manage.py migrate payments && python manage.py migrate sessions && python manage.py migrate --run-syncdb && python populate.py --noinput
        