{% extends 'base.html' %}
{% load static %}

{% block head_block %}
    <script type="text/javascript" defer src="{% static 'js/all_collections.js' %}"></script>
    <script>
        collection_names=[];
        username = "{{user.username_slug}}";
     </script>
{% endblock %}

{% block body_block %}
    <div class="collection_structure">
        <h1>Collections</h1>
        <div class="all_collections_layout">
        {% if users_collections %}
            {% for collection in users_collections %}
                <a {%if collection.generation_complete%} href="{% url 'main:collection' user.username_slug collection.collection_name_slug %}" {%endif%} style="text-decoration: none; color: inherit;">
                    <div class="collection_card border_1px grow rounded_container_no_padding">
                        <img loading="lazy" src="{{collection.thumbnail}}" class="nft_image">
                        <!-- {% if collection.collection_ifps_bool %}
                            <img loading="lazy" src="https://{{collection.image_uri}}.ipfs.dweb.link/0.png" class="nft_image">
                        {% else %}
                            <img loading="lazy" src="{{collection.thumbnail}}" class="nft_image">
                        {% endif %} -->
                        <div>
                            <div><p class="no_margin center" id="title">{{collection.collection_name}}</p></div>
                            <div><p style="font-size: smaller;" class="no_margin center">{{collection.description}}</p></div>
                            <button {%if not collection.generation_complete%}disabled{%endif%} class="collection_card_button sub_color_background collection_card_button_text {%if not collection.generation_complete%}disabled_button{%endif%}">Open</button>
                        </div>
                    </div>
                    {%if not collection.generation_complete%}
                        <!-- If a collection is generating, run a script that will check periodically if it is done or not! -->
                        <script>
                            collection_names.push("{{collection.collection_name_slug}}");
                        </script>
                    {%endif%}
                </a>
            {% endfor %}
        {% endif %}
        </div>
    </div>
{% endblock %}