<!-- <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script src="https://js.stripe.com/v3/"></script> -->

<div class="payments_wrapper">
  <div class="payments_description">
    <h3>Credits</h3>
    <p>Users will be given 50 free credits on account creation</p>
    <p>
      Credits allow users to perform actions on Genera. Each action performed
      will use 1 credit, which include:
    </p>
    <ul>
      <li>NFT Generation (w/ Metadata)</li>
      <li>NFT IFPS Storage/Minting</li>
    </ul>
    <h4>Example w/ 50 credits</h4>
    <ul>
      <li>Generate 50 NFTs or</li>
      <li>Generate 25 NFTs Mint 25 NFTs (w/ IFPS deployment)</li>
      <li>Mint 50 NFTs (w/ IFPS deployment)</li>
    </ul>
  </div>
  <div class="payments_options"></div>
  <!-- {url payments:’view_name’} -->
   <form method="POST" id="checkout_form" action="{% url 'payments:checkout'%}"> 
        {% csrf_token %}
        {% if products%}
            {% for items in products %}
            <button name="product_button" type="submit" value={{items.fields.price_id}}>{{items.fields.name}}</button>
            {% endfor %}
        {% endif %}
        
      </form>
</div>

{% block body_block %}{% endblock %}