{% load static %}

<!DOCTYPE html>
<html lang="en">

{%if request.session.enter_page == True%}
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/libraries/notifications.css' %}"/>
    <script type="text/javascript" src="{% static 'js/global.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libraries/notifications.js' %}"></script>
    {% block head_block %}{% endblock %}
  </head>

  <body>
    <script>
      if (localStorage.dark_mode == 'true') {
        document.documentElement.classList = "dark-mode-root";
      }
    </script>

    {% if messages %}
        {% for message in messages %}
          <input type="hidden" id="server_message" value="{{message}}${{message.level_tag}}">
        {% endfor %}
    {% endif %}

    <div class="nav_bar_wrapper top_bottom_border">
      <div class="left_navbar">
        <a href="{% url 'main:main_view' %}">
          <img src="/static/icons/logoV1.svg" class="logo1" alt="" />
          <img
            src="{% static 'Assets/Background/genera4.png' %}"
            class="logo2"
            alt=""
          />
        </a>
      </div>
      <div class="left_navbar hide_burger">
        <div class="dropdown">
          <!-- style="margin-left: 30px" -->
          <div><p>Tools</p></div>
          <div class="dropdown-content shadow_strong">
            <a href="{% url 'main:upload' %}">
              <p>NFT Maker/Minter</p>
            </a>
            <a href="{% url 'main:mint' %}">
              <p>NFT Minter</p>
            </a>
            <a href="#" class="disable_content">
              <p>Texture Mapping</p>
            </a>
          </div>  
        </div>
        <div class="dropdown">
            <div><p>Info</p></div>
              <div class="dropdown-content shadow_strong">
                <a href="{% url 'main:documentation' %}">
                  <p>Docs</p>
                </a>
                <a href="{% url 'main:about' %}">
                  <p>About</p>
                </a>
              </div>
        </div>
        <div id="burger_flex" style="flex: 1;"></div>
        <button class="btn_toggle">Toggle Theme</button>
        
        {% if request.user.is_authenticated%}
          <div class="dropdown">
            <button class="dropbtn main_color_background  rounded_container_no_padding">Logged in: {{request.user.username}}</button>
            <div class="dropdown-content rounded_container_no_padding shadow_strong">
              {% if request.user.is_authenticated %}
                <a href="{% url 'main:profile' request.user.username %}">
                  <p>Profile</p>
                </a>
                <a href="{% url 'main:all_collections' request.user.username %}">
                  <p>Collections</p>
                </a>
                <a href="{% url 'main:logout' request.path%}">
                  <p>Log out</p>
                </a>
              {% endif %}
            </div>
          </div>
          <a href="{% url 'payments:checkout'%}">
            <button class="credits_button sub_color_background dropbtn" title="Credits">{{request.user.credits}}</button>
          </a>
        {% endif %} 
      </div>
      <div class="right_navbar">
        {% if not request.user.is_authenticated%}
          <div class="dropdown">
            <a href="{% url 'main:login_options' %}" style="text-decoration: none">
              <div class=" dropbtn main_color_background" style="margin-right: 25px; border-radius: 10px;">Log in</div>
            </a>
          </div>
        {% endif %} 
        <div class="burger_toggle" style="display: none;">
          <img src="/static/icons/menu.svg" alt="">
        </div>
      </div>
    </div>
    <div class="burger_navbar" style="display: none;">
        <div class="dropdown_burger">
          {% if request.user.is_authenticated%}
          <input type="checkbox" id="demo3" style="display: none;"/>
          <div class="burger_1">
            <label for="demo3"><p>Logged in: {{request.user.username}} Credits: {{request.user.credits}}</p></label>
          </div>
          
          <div class="burger_2">
            <a href="{% url 'main:profile' request.user.username %}" id="burger_enabled">
                <p>Profile</p>
              </a>
            <a href="{% url 'main:all_collections' request.user.username %}" id="burger_enabled">
                <p>Collections</p>
              </a>
            <a href="{% url 'main:logout' request.path%}" id="burger_enabled">
                <p>Log out</p>
              </a>
          </div>
          {% endif %}  
        </div>
        <div class="dropdown_burger">
          <input type="checkbox" id="demo1" style="display: none;"/>
          <div class="burger_1">
            <label for="demo1"><p>Tools</p></label>
          </div>
          
          <div class="burger_2">
            <a href="{% url 'main:upload' %}" id="burger_enabled">
              <p>NFT Maker/Minter</p>
            </a>
            <a href="{% url 'main:mint' %}"> 
              <p>NFT Minter</p>
            </a>
            <a href="#" id="burger_disabled">
              <p>Texture Mapping</p>
            </a>
          </div>  
        </div>
        <div class="dropdown_burger">
          <input type="checkbox" id="demo2" style="display: none;"/>
           <div class="burger_1">
            <label for="demo2"><p>Info</p></label>
          </div>
          <div class="burger_2">
            <a href="{% url 'main:documentation' %}" id="burger_enabled">
              <p>Docs</p>
            </a>
            <a href="{% url 'main:about' %}" id="burger_enabled">
              <p>About</p>
            </a>
          </div>
        </div>
        <!-- <button class="btn_toggle">Toggle Theme</button>  -->
    </div>

    {% block body_block %}{% endblock %}

    <div class="footer">
      <div class="footer_section">
        <h3>PAGES</h3>
        <ul>
          <li><a href="{% url 'main:main_view' %}">Home</a></li>
          <li><a href="{% url 'main:upload' %}">NFT Maker/Minter</a></li>
          <li><a href="{% url 'main:mint' %}">NFT Minter</a></li>
          <li><a href="{% url 'main:about' %}">About</a></li>
          <li><a href="{% url 'main:documentation' %}">Docs</a></li>
          <li><a href="{% url 'payments:checkout' %}">Credits</a></li>
        </ul> 
      </div>
      <div class="footer_section">
        <h3>JOIN THE COMMUNITY!</h3>
        <ul>
          <li><a href="https://discord.gg/VagtyF6tmX" target="_blank">Discord</a></li>
          <li><a href="https://www.instagram.com/generanft/" target="_blank">Instagram</a></li>
        </ul>
      </div>
      <div class="footer_section">
        <h3>LEGAL</h3>
        <ul>
          <li><a href="">Terms and Conditions</a></li>
          <li><a href="">Privacy Policy</a></li>
        </ul> 
      </div>
      <div class="footer_section">
        <h3>CONTACT US</h3>
        <ul>
          <li><p>generanft@gmail.com</p></li>
        </ul>
        
      </div>
    </div>
  </body>
  {%else%}
  <form method="POST" style="display: flex; width: 100vw; height: 100vw; justify-content: center; align-items: center;">
    {%csrf_token%}
    <input style="min-width: 200px;" type="password" name="code" placeholder="Enter... passcode..">

  </form>
  {%endif%}

</html>
