{% load static %}

<!DOCTYPE html>
<html lang="en">


  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="{% static 'icons/logoV1.svg' %}">
    <link rel="stylesheet" type="text/css" href="{% static 'css/global.css' %}" />
    <link rel="stylesheet" type="text/css" href="{% static 'css/libraries/notifications.css' %}"/>
    <script src="https://unpkg.com/@metamask/detect-provider/dist/detect-provider.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
    <script type="text/javascript" src="{% static 'js/global.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libraries/notifications.js' %}"></script>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons"
      rel="stylesheet">
    {% block head_block %}{% endblock %}
  </head>

  <body>
    <script>
      if (localStorage.dark_mode == 'true') {
        document.documentElement.classList = "dark-mode-root";
      }
    </script>

    {% if messages %}
        {% for message in messages %}
          <input type="hidden" id="server_message" value="{{message}}${{message.level_tag}}">
        {% endfor %}
    {% endif %}

    <div class="nav_bar_wrapper top_bottom_border">
      <div class="left_navbar">
        <a href="{% url 'main:main_view' %}">
          <img src="/static/icons/logoV1.svg" class="logo1" alt="" />
          <img
            src="{% static 'Assets/Background/genera4.png' %}"
            class="logo2"
            alt=""
          />
        </a>
      </div>
      <div class="left_navbar hide_burger">
        <div class="dropdown">
          <!-- style="margin-left: 30px" -->
          <div><p>Tools</p></div>
          <div class="dropdown-content shadow_strong">
            <a href="{% url 'main:upload' %}">
              <p>NFT Maker/Minter</p>
            </a>
            <a href="{% url 'main:mint' %}">
              <p>NFT Minter</p>
            </a>
            <a href="#" class="disable_content">
              <p>Texture Mapping</p>
            </a>
          </div>  
        </div>
        <div class="dropdown">
            <div><p>Info</p></div>
              <div class="dropdown-content shadow_strong">
                <a href="{% url 'main:documentation' %}">
                  <p>Docs</p>
                </a>
                <a href="{% url 'main:about' %}">
                  <p>About</p>
                </a>
              </div>
        </div>
        <div style="    flex: 1;
    display: flex;
    justify-content: center;">
        <div id="burger_flex" style="    cursor: text;
    display: flex;
    width: 100%; max-width: 700px;" class="border rounded_container_no_padding white_background">
          <div style="    -webkit-box-pack: center;
          justify-content: center;    flex-direction: column; display: flex;margin: 0px 8px 0px 8px; box-sizing: border-box; margin: 0px 15px 0px 15px;">
          <i color="gray" value="search" size="24" class="material-icons" style="    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizelegibility;
    color: rgb(138, 147, 155);
    font-feature-settings: 'liga' !important;
    font-size: 24px !important;">search</i>
          </div>
          <input aria-invalid="false" aria-controls="NavSearch--results" aria-multiline="false"
            placeholder="Search collections and artists" role="searchbox" type="text" value="" style="    cursor: text;
    background-color: transparent;
    border: none;
    outline: none;
    width: 100%;
    min-height: 20px;
    color: inherit;
    font: inherit;
    margin: 0px;" id="search_query_input">
        
        </div>
        </div>
        <button class="btn_toggle">Toggle Theme</button>
        
        {% if request.user.is_authenticated%}
          <div class="dropdown" style="margin-right: 40px;">
            <div style="align-items: center;max-width: 200px;display: flex;gap: 10px; cursor: pointer;" >
              <div class="profile-picture main_color_background" style="width: 50px;height: 50px;margin-bottom: 0;"></div>
              <div>
                <div style="overflow: hidden;max-width: 100px;text-overflow: ellipsis;font-weight: bold;font-size: 1.1rem; white-space: pre;">{{request.user.username}}</div>
                <div class="expand_button_container" style="align-items: center; color: white; font-weight: bold; padding: 1px; width: 50px;">{{request.user.credits}}</div>
              </div>
              <span style="font-family: 'Material Icons';margin-bottom: 24px;font-size: 19px;">
                expand_more
              </span>
            </div>
            <div class="dropdown-content rounded_container_no_padding shadow_strong">
              <a href="{% url 'main:profile' request.user.username_slug %}">
                <p>Profile</p>
              </a>
              <a href="{% url 'main:all_collections' request.user.username_slug %}">
                <p>Collections</p>
              </a>
              <a href="{% url 'main:logout' request.path%}">
                <p>Log out</p>
              </a>
            </div>
          </div>
        {% endif %} 
      </div>
      <div class="right_navbar">
        {% if not request.user.is_authenticated%}
          <div class="dropdown">
            <a href="{% url 'main:login_options' %}" style="text-decoration: none">
              <div class=" dropbtn main_color_background" style="margin-right: 25px; border-radius: 10px;">Log in</div>
            </a>
          </div>
        {% endif %} 
        <div class="burger_toggle" style="display: none;">
          <img src="/static/icons/menu.svg" alt="">
        </div>
      </div>
    </div>
    <div class="burger_navbar" style="display: none;">
        <div class="dropdown_burger">
          {% if request.user.is_authenticated%}
          <input type="checkbox" id="demo3" style="display: none;"/>
          <div class="burger_1">
            <label for="demo3"><p>Logged in: {{request.user.username}} Credits: {{request.user.credits}}</p></label>
          </div>
          
          <div class="burger_2">
            <a href="{% url 'main:profile' request.user.username_slug %}" id="burger_enabled">
                <p>Profile</p>
              </a>
            <a href="{% url 'main:all_collections' request.user.username_slug %}" id="burger_enabled">
                <p>Collections</p>
              </a>
            <a href="{% url 'main:logout' request.path%}" id="burger_enabled">
                <p>Log out</p>
              </a>
          </div>
          {% endif %}  
        </div>
        <div class="dropdown_burger">
          <input type="checkbox" id="demo1" style="display: none;"/>
          <div class="burger_1">
            <label for="demo1"><p>Tools</p></label>
          </div>
          
          <div class="burger_2">
            <a href="{% url 'main:upload' %}" id="burger_enabled">
              <p>NFT Maker/Minter</p>
            </a>
            <a href="{% url 'main:mint' %}"> 
              <p>NFT Minter</p>
            </a>
            <a href="#" id="burger_disabled">
              <p>Texture Mapping</p>
            </a>
          </div>  
        </div>
        <div class="dropdown_burger">
          <input type="checkbox" id="demo2" style="display: none;"/>
           <div class="burger_1">
            <label for="demo2"><p>Info</p></label>
          </div>
          <div class="burger_2">
            <a href="{% url 'main:documentation' %}" id="burger_enabled">
              <p>Docs</p>
            </a>
            <a href="{% url 'main:about' %}" id="burger_enabled">
              <p>About</p>
            </a>
          </div>
        </div>
        <!-- <button class="btn_toggle">Toggle Theme</button>  -->
    </div>

    {% block body_block %}{% endblock %}

    <div class="footer">
      <div class="footer_section">
        <h3>PAGES</h3>
        <ul>
          <li><a href="{% url 'main:main_view' %}">Home</a></li>
          <li><a href="{% url 'main:upload' %}">NFT Maker/Minter</a></li>
          <li><a href="{% url 'main:mint' %}">NFT Minter</a></li>
          <li><a href="{% url 'main:about' %}">About</a></li>
          <li><a href="{% url 'main:documentation' %}">Docs</a></li>
          <li><a href="{% url 'payments:checkout' %}">Credits</a></li>
        </ul> 
      </div>
      <div class="footer_section">
        <h3>JOIN THE COMMUNITY!</h3>
        <ul>
          <li><a href="https://discord.gg/PHn7sFwASM" target="_blank">Discord</a></li>
          <li><a href="https://www.instagram.com/generanft/" target="_blank">Instagram</a></li>
        </ul>
      </div>
      <div class="footer_section">
        <h3>LEGAL</h3>
        <ul>
          <li><a href="{% url 'main:terms' %}">Terms and Conditions</a></li>
          <li><a href="{% url 'main:privacy' %}">Privacy Policy</a></li>
        </ul> 
      </div>
      <div class="footer_section">
        <h3>CONTACT US</h3>
        <ul>
          <li><a href="mailto:generanft@gmail.com">generanft@gmail.com</a></li>
          {% if request.user.is_authenticated %}
            <li><a href="{% url 'main:problem_report' %}">Report a problem</a></li>
            <li><a href="{% url 'main:reported_issues' %}">View reported problems</a></li>
          {% endif %}
        </ul>
        
      </div>
    </div>
  </body>


</html>
