<!-- <script src="https://polyfill.io/v3/polyfill.min.js?version=3.52.1&features=fetch"></script>
<script src="https://js.stripe.com/v3/"></script> -->

<div class="payments_wrapper">
  <h1>Credits</h1>
  <div class="payments_description rounded_container">
    <div class="credit_section border rounded_container">
      <h2>Free Features</h2>
      <ul>
        <h3 style="margin-top: 35px; text-align: start;">NFT Maker</h3>
        <li>Up to 100 Assets Generated</li>
        <li>Metadata Generation w/ Layer and Texture Attributes</li>
        <li>Texture Mapping</li>
        <li>Asset and Metadata Previews</li>
        <li>Collection Download</li>
        <li>Watermarked</li>
        <h3 style="margin-top: 35px; text-align: start;">NFT Minter</h3>
        <li>Customizable Ethereum & Polygon Smart Contract</li>
        <li>Hosted Minting and Profile Page</li>
        <li>NFT Minting</li>
        <p style="text-align: left; margin-left: 25px;">*4.9% fee</p>
        <li>Metadata Customization</li>
        <li>Asset and Metadata IPFS Storage</li>
        <h3 style="margin-top: 35px; text-align: start;">Q1 2022</h3>
        <li>Mass Texture Mapper Tool</li>
      </ul>
    </div>
    <div class="credit_section border rounded_container">
      <h2>Additional Credit Features</h2>
      <ul>
        <h3 style="margin-top: 35px; text-align: start;">NFT Maker</h3>
        <li>Up to 10,000 Assets Generated</li>
        <li>No Watermark</li>
        <li>Genera Collection Management System</li>
        <li class="bullet">Storage of all Generated Assets and Metadata</li>
        <li class="bullet">View/Edit/Delete Assets and Metadata</li>
        <li class="bullet">Duplicate Deletion</li>
        <li class="bullet">Proprietary NFT Minter (with all correspending features)</li>
      </ul>
    </div>
  </div>
  <div class="credit_section border rounded_container" style="max-width: 1000px; width: auto !important;">
    <h2>Example w/ 10,000 credits</h2>
    <ul>
      <li>Generate 10,000 Assets (w/ Metadata)</li>
      <li>Manage Collection Properties with Genera's Collection Management System</li>
      <li>Deploy Smart Contract to Ethereum or Polygon</li>
      <li>Hosted Minted page for 10,000 NFTs</li>
    </ul>
    </div>
  <div class="payments_options"></div>
  <!-- {url payments:’view_name’} -->
   <form method="POST" id="checkout_form" action="{% url 'payments:checkout'%}"> 
        {% csrf_token %}
        {% if products%}
        <div class="credit_buttons_wrapper">
            {% for product in products %}
            <div class="general_button_no_border rounded_container_no_padding">
              <h1>{{product.name}}</h1>
              <button class="general_button_no_border  main_color_background  rounded_container_no_padding" name="product_button" type="submit" value={{product.price_id}}>
                ${{product.price}}
              </button>
            </div>
            {% endfor %}
        </div>
        {% endif %}
        
      </form>
</div>