{% load static %}

<!DOCTYPE html>

<html lang="en">
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/global.css' %}"
    />
    <link
      rel="stylesheet"
      type="text/css"
      href="{% static 'css/libraries/notifications.css' %}"
    />
    <script type="text/javascript" src="{% static 'js/global.js' %}"></script>
    <script
      type="text/javascript"
      src="{% static 'js/libraries/notifications.js' %}"
    ></script>
    {% block head_block %}{% endblock %}
  </head>

  <body>
    <script>
      if (localStorage.lightMode == "dark") {
        document.body.classList = "dark-mode";
      }
    </script>
    <!-- <div class="background_image_wrapper">
      <div class="cover-image">
        <img src="{% static 'Assets/Background/websitebackground2.png' %}" alt="">
      </div>
    </div> -->

    {% if messages %}
        {% for message in messages %}
          <input type="hidden" id="server_message" value="{{message}}${{message.level_tags}}">
        {% endfor %}
    {% endif %}

    <div class="nav_bar_wrapper shadow_strong">
      <div class="left_navbar">
        <a href="{% url 'main:main_view' %}">
          <img src="/static/icons/logoV1.svg" class="logo1" alt="" />
          <img
            src="{% static 'Assets/Background/genera4.png' %}"
            class="logo2"
            alt=""
          />
        </a>
      </div>
      <div class="left_navbar hide_burger">
        <div class="dropdown">
          <!-- style="margin-left: 30px" -->
          <div><p>Tools</p></div>
          <div class="dropdown-content shadow_strong">
            <a href="{% url 'main:upload' %}">
              <p>NFT Maker/Minter</p>
            </a>
            <a href="#" class="disable_content">
              <p>NFT Minter</p>
            </a>
            <a href="#" class="disable_content">
              <p>Texture Mapping</p>
            </a>
          </div>  
        </div>
        <div class="dropdown">
            <div><p>Info</p></div>
              <div class="dropdown-content shadow_strong">
                <a href="{% url 'main:documentation' %}">
                  <p>Docs</p>
                </a>
                <a href="{% url 'main:about' %}">
                  <p>About</p>
                </a>
              </div>
        </div>
        <div id="burger_flex" style="flex: 1;"></div>
        <button class="btn_toggle">Toggle Theme</button> 
      </div>
      <div class="right_navbar">
        {% if request.user.is_authenticated%}
        <div class="dropdown">
          <button class="dropbtn light_purple_background  rounded_container_no_padding">
            Logged in as: {{request.user.username}}
          </button>
          <div class="dropdown-content rounded_container_no_padding shadow_strong">
            {% if request.user.is_authenticated %}
            <a href="{% url 'main:profile' request.user.username %}">
              <p>View your profile</p>
            </a>
            {% endif %}
            <a href="{% url 'main:all_collections' request.user.username %}">
              <p>View Collections</p>
            </a>
            {% if request.user.is_authenticated %}
            <a href="{% url 'main:logout' %}">
              <p>Log out</p>
            </a>
            {% endif %}
          </div>
        </div>
        <a href="{% url 'payments:checkout'%}">
          <button class="credits_button orange_background dropbtn" title="Credits">{{request.user.credits}}</button>
        </a>
        <div class="burger" style="display: none;">button</div>
        {% else %}
        <div class="dropdown">
          <a href="{% url 'main:login' %}" style="text-decoration: none">
            <div class=" dropbtn light_purple_background" style="margin-right: 25px; border-radius: 10px;">
              Log in
            </div>
          </a>
        </div>
        {% endif %}
      </div>
    </div>
    <div class="burger_navbar">
        <div class="dropdown_burger">
          <div class="burger_1"><p>Tools</p></div>
          <div class="burger_2">
            <a href="{% url 'main:upload' %}">
              <p>NFT Maker/Minter</p>
            </a>
            <a href="#" class="disable_content">
              <p>NFT Minter</p>
            </a>
            <a href="#" class="disable_content">
              <p>Texture Mapping</p>
            </a>
          </div>  
        </div>
        <div class="dropdown_burger">
            <div><p>Info</p></div>
              <div class="burger_2">
                <a href="{% url 'main:documentation' %}">
                  <p>Docs</p>
                </a>
                <a href="{% url 'main:about' %}">
                  <p>About</p>
                </a>
              </div>
        </div>
        <button class="btn_toggle">Toggle Theme</button> 
    </div>

    {% block body_block %}{% endblock %}

    <!-- <br><br><br><br>
    <a href="{% url 'main:upload' %}">
      <button class="general_button light_grey_background grow" style="margin: 15px;">GO HOME (UPLOAD PAGE LOL)!</button>
    </a>
    {% if request.user.is_authenticated %}
      <a href="{% url 'main:logout' %}">Log out</a> <br>
      <a href="{% url 'main:profile' request.user.username %}">View your profile!</a>
    {% endif %} -->
  </body>
</html>
