{% extends 'base.html' %}
{% load static %}

{% block head_block %}
    <script src="https://cdn.jsdelivr.net/npm/web3@latest/dist/web3.min.js"></script>
    <script src="https://unpkg.com/@metamask/detect-provider/dist/detect-provider.min.js"></script>
    <script type="text/javascript" src="{% static 'js/metamask.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/collection.js' %}"></script>
    <script type="text/javascript" src="{% static 'js/libraries/jszip.min.js' %}"></script>
    <script type="module" crossorigin="" src="{% static 'js/car_generator.js' %}"></script>
    <link rel="modulepreload" href="{% static 'js/ipfs_car.js' %}" />
{% endblock %}

{% block body_block %}
    <input type="hidden" id="js_vars" data-collection_name='{{collection_data.collection_name}}' data-ajax_url='{{ajax_url}}' data-contract_address='{{collection_data.contract_address}}' data-ipfs_links='{{ipfs_links}}' data-entry_ids ='{{entry_ids}}' data-token_name='{{collection_data.token_name}}' data-image_name='{{collection_data.image_name}}' data-ipfs_bool='{{collection_data.collection_ifps_bool}}' data-contract_bool='{{collection_data.contract_bool}}' data-tokens_minted_bool='{{collection_data.tokens_deployed}}' data-collection_size='{{collection_data.collection_size}}' data-chain_id='{{collection_data.chain_id}}' data-base_uri='{{collection_data.base_uri}}'/> 
    <!-- data-contract_type='{{collection_data.contract_type}}' -->
    <a href="{% url 'main:user_mint' user.username  collection_data.collection_name%}" id="redirect" style="display: none;"></a>

<div class="deploy_collection_container shadow_strong rounded_container_no_padding">
    <img class="dc_close close_button_color" src="/static/icons/remove.svg" onclick="close_deploy_collection()">
    <div class="dc_content">
        <div class="dc_status_container">
            <div class="dc_status_sections">
                <div style="text-align: left;">
                    <div class="dc_status_dot" id="dc_status_4"></div>
                    <p style="margin-left: -35px;">Deploy to IPFS</p>
                </div>
                <div>
                    <div class="dc_status_dot" id="dc_status_4" style="left: 39%;"></div>
                    <p>Choose Network</p>
                </div>
                <div>
                    <div class="dc_status_dot" id="dc_status_4" style="left: 58%;"></div>
                    <p>Deploy Contract</p>
                </div>
                <div style="text-align: right;">
                    <div class="dc_status_dot" id="dc_status_4" style="left: 83.5%;"></div>
                    <p>Mint</p>
                </div>
            </div>
            <div class="dc_status_bar_container sub_color_background">
                <div class="dc_status_bar_active main_color_background"></div>
            </div>
        </div>
        <h2></h2>
        <h4></h4>
        <div class="dc_body">
            <div class="spinner">
                <div class="rect1" id="spin1"></div>
                <div class="rect1" id="spin2"></div>
                <div class="rect1" id="spin3"></div>
                <div class="rect1" id="spin4"></div>
                <div class="rect1" id="spin5"></div>
            </div>
            <div class="input_wrapper"></div>
        </div>
        <div class="dc_buttons">
        </div>
    </div>
</div>    
<div class="filter">
    <form type="hidden" method="post" style="display: none;" enctype="multipart/form-data" class="image_edit_wrapper">
        {% csrf_token %}
        <div class="image_edit rounded_container">
            <h3 class="no_margin">Name</h3>
            <input required class="image_edit_input" name="image_name" type="text" value="" placeholder="Image Name"/>

            <h3 class="no_margin">Description</h3>
            <textarea required class="image_edit_input" name="image_description" rows="5" value = ''></textarea>

            <div class="image_edit_button_wrapper">
                <button class="general_button_no_border rounded_container_no_padding main_color_background" id="update_collection_submit_button" onclick="create_and_render_loading_popup('Saving Changes')"
                disabled>
                    <h4 class="no_margin generate">Save</h4>
                </button>
                <div class="general_button_no_border rounded_container_no_padding main_color_background" onclick="close_edit()">
                    <h4 class="no_margin generate">Cancel</h4>
                </div>
            </div>
        </div>
        <input required type="hidden" class="image_edit_input" name="entry_name" type="text" value="" placeholder="entry name"/>
    </form>
    <h1 class="collection_title">{{collection_data.collection_name}} Collection</h1>
    <div class="view_collection_main">  
        <div class="collection_structure">
            <div class="all_collections_layout">
                {% if collection_images %}
                    {% for entry in collection_images %}
                        <div class="collection_card grow border rounded_container_no_padding" onclick="open_images(this)">

                            {% if entry.ipfs_bool%}
                                <img crossorigin="anonymous" loading="lazy" src="{%if entry.path_compressed%}{{entry.path_compressed}}{%else%}{{entry.path}}{%endif%}" data-fullrez ="{{entry.path}}" data-name="{{entry.name}}" data-ipfs ="{{entry.ipfs_metadata_path}}" alt="{{entry.name}} image should be here" class="nft_image">
                            {% else %}
                                <img crossorigin="anonymous" loading="lazy" src="{%if entry.path_compressed%}{{entry.path_compressed}}{%else%}{{entry.path}}{%endif%}" data-fullrez ="{{entry.path}}" data-name="{{entry.name}}" alt="{{entry.name}} image should be here" class="nft_image">
                            {% endif %}
                            <div>
                                <input type="hidden" id="image_vars" data-name="{{entry.name}}" data-metadata="{{entry.metadata}}" data-ipfs_bool="{{entry.ipfs_bool}}" data-deployed_bool="{{entry.deployed_bool}}" data-token_uri="{{entry.ipfs_metadata_path}}" data-id="{{entry.id}}"/>
                                <p class="no_margin center">{{entry.name}}</p> 
                                <div class="collection_card_button_container">
                                    <div style='display: none; cursor: default;' class="collection_card_button" style=" cursor: auto;"> 
                                        <img src="/static/icons/check.svg" alt="check">
                                        <h5>Mint</h5>
                                    </div>
                                    {% if collection_data.collection_ifps_bool%}
                                    <div class="collection_card_button" style=" cursor: default;" >
                                        <img src="/static/icons/check.svg" alt="check">
                                        <h5>IPFS</h5>
                                    </div>
                                    {% endif %}
                                </div>
                                <!-- </a> -->
                            </div>
                        </div>
                    {% endfor %}
                {% endif %}
            </div>
        </div>

        <div class="upload_properties">
            <div class="rounded_container border_1px" style="margin-top: 0;">
                <h3 class="no_margin center">Collection Properties</h3>
                {% if collection_data %}
                    <div >
                        <h5 class="no_margin">Name</h5>
                        <h5 class="collection_properties">
                            {{collection_data.collection_name}}
                        </h5>
                    </div>
                    <div>
                        <h5 class="no_margin">Resolution</h5>
                        <h5 class="collection_properties">
                            {{collection_data.dimension_x}} x {{collection_data.dimension_y}}
                        </h5>
                    </div>
                    <div>
                        <h5 class="no_margin">Size</h5>
                        <h5 class="collection_properties">
                            {{collection_data.collection_size}}
                        </h5>
                    </div>
                    <div>
                        <h5 class="no_margin">Description</h5>
                        <h5 class="collection_properties">
                            {{collection_data.description}}
                        </h5>
                    </div>
                    {% if collection_data.collection_ifps_bool %}
                    <div class="properties_container">
                        <img src="/static/icons/check.svg" alt="check">
                        <h5>Collection Uploaded to IFPS</h5>
                    </div>
                    {% endif %} 
                    {% if collection_data.contract_bool %}
                    <div class="properties_container">
                        <img src="/static/icons/check.svg" alt="check">
                        <h5>Contract Deployed <a href="https://rinkeby.etherscan.io/address/{{collection_data.contract_address}}" style="text-decoration: underline;" target="_blank">{{collection_data.contract_address}}</a></h5>
                    </div>
                    {% endif %}
                    {% if collection_data.tokens_deployed %}
                    <div class="properties_container">
                        <img src="/static/icons/check.svg" alt="check">
                        <h5>Collection Minted</h5>
                    </div>
                    {% endif %} 
                {% endif %}
            </div>
            {% if not collection_data.collection_ifps_bool %}
                <button name="delete_collection" onclick="delete_collection()" class="general_button_no_border red_background shadow_strong rounded_container_no_padding" type="button">
                    <h4 class="no_margin generate" style="color: white;">Delete Collection</h4>
                </button>
            {% endif %}
            {% if not collection_data.collection_ifps_bool and not collection_data.duplicates_deleted %}
                <button type="button" class="general_button_no_border light_red_background shadow_strong rounded_container_no_padding" onclick="delete_duplicates()">
                    <h4 class="no_margin" style="color: white">Delete Duplicates</h4>
                </button>
            {% endif %}
            <button name="download_collection" onclick="download_zip()" class="general_button_no_border sub_color_background shadow_strong rounded_container_no_padding" type="button">
                <h4 class="no_margin generate">Download collection</h4>
            </button>
            {% if not collection_data.tokens_deployed %}
                <button class="general_button_no_border main_color_background shadow_strong rounded_container_no_padding" onclick="init_deploy_collection_public()" type="button">
                    <h4 class="no_margin generate">Deploy collection</h4>
                </button>
            {% endif %}

                

                
        </div>
    </div>
</div>

<input class="dn" type="hidden" multiple=""/>
<input class="dn2" type="hidden" multiple=""/>

{% endblock %}