{% extends 'base.html' %}
{% load static %}

{% block head_block %}
<!-- <script type="text/javascript" src="https://cdn.jsdelivr.net/npm/vue@2.6.14/dist/vue.min.js"></script> -->
<script src="https://unpkg.com/vue@next/dist/vue.global.prod.js"></script>
{% endblock %}

{% block body_block %}
<input type="hidden" id="js_vars" data-contract_address='{{contract_address}}' data-chain_id='{{chain_id}}' data-is_owner='{{isOwner}}' data-ajax_url='{{ajax_url}}'/>

<div id="mint-wrapper" class="mint_wrapper">
    
    <section-toggle v-if="is_owner" @collection-section="openCollection" @admin-section="openAdmin" :collection="collection_section" :admin="admin_section"></section-toggle>

    <div v-show="collection_section" class="mint_body">
        <nft-title></nft-title>
        <nft-images :baseuri="base_uri" :totalsupply="totalSupply"></nft-images>
        <nft-mint :web3="web3" :totalsupply="totalSupply" :supply="supply" :mintcostwei="mintCostWei" :tokenname="token_name" :chainid="chain_id" :contractaddress="contract_address" :openbool="open_bool" :contract="contract"></nft-mint>
        <nft-description ></nft-description>
    </div>
    
    {% if isOwner %}
    <div v-if="is_owner" class="all_collections_layout" style="justify-content: center;">
        <admin-properties v-show="admin_section" :totalsupply="totalSupply" :supply="supply" :mintcostether="mint_cost_ether" :web3="web3" :balance="balance" :maxperwallet="max_per_wallet" :maxpermint="max_per_mint" :chainid="chain_id" :activeaccount="active_account" :contractaddress="contract_address" :openbool="open_bool"></admin-properties>
    </div>
    {% endif %}  

</div>


<script>
    const app = Vue.createApp({
        data() {
        return {
            contract: null,
            provider: null,
            contract_address: js_vars.dataset.contract_address,
            chain_id: js_vars.dataset.chain_id,
            is_owner: (js_vars.dataset.is_owner.toLowerCase() === 'true'),
            active_account: null,
            web3: null,
            web3_infura: null,
            open_properties: false,
            supply: null,
            totalSupply: null,
            mintCostWei: null,
            mint_cost_ether: null,
            base_uri: null,
            open_bool: null,
            web3: null,
            token_name: null,
            collection_section: true,
            admin_section: false,
            max_per_wallet : null,
            max_per_mint: null,
            balance: null,
            abi_json: {
            "abi": [
                {
                    "inputs": [
                        {
                            "internalType": "string",
                            "name": "_uri",
                            "type": "string"
                        },
                        {
                            "internalType": "string",
                            "name": "_name",
                            "type": "string"
                        },
                        {
                            "internalType": "string",
                            "name": "_symbol",
                            "type": "string"
                        },
                        {
                            "internalType": "uint32",
                            "name": "_totalSupply",
                            "type": "uint32"
                        },
                        {
                            "internalType": "uint256",
                            "name": "_cost",
                            "type": "uint256"
                        },
                        {
                            "internalType": "bool",
                            "name": "_open",
                            "type": "bool"
                        }
                    ],
                    "stateMutability": "nonpayable",
                    "type": "constructor"
                },
                {
                    "anonymous": false,
                    "inputs": [
                        {
                            "indexed": true,
                            "internalType": "address",
                            "name": "account",
                            "type": "address"
                        },
                        {
                            "indexed": true,
                            "internalType": "address",
                            "name": "operator",
                            "type": "address"
                        },
                        {
                            "indexed": false,
                            "internalType": "bool",
                            "name": "approved",
                            "type": "bool"
                        }
                    ],
                    "name": "ApprovalForAll",
                    "type": "event"
                },
                {
                    "anonymous": false,
                    "inputs": [
                        {
                            "indexed": true,
                            "internalType": "address",
                            "name": "previousOwner",
                            "type": "address"
                        },
                        {
                            "indexed": true,
                            "internalType": "address",
                            "name": "newOwner",
                            "type": "address"
                        }
                    ],
                    "name": "OwnershipTransferred",
                    "type": "event"
                },
                {
                    "anonymous": false,
                    "inputs": [
                        {
                            "indexed": true,
                            "internalType": "address",
                            "name": "operator",
                            "type": "address"
                        },
                        {
                            "indexed": true,
                            "internalType": "address",
                            "name": "from",
                            "type": "address"
                        },
                        {
                            "indexed": true,
                            "internalType": "address",
                            "name": "to",
                            "type": "address"
                        },
                        {
                            "indexed": false,
                            "internalType": "uint256[]",
                            "name": "ids",
                            "type": "uint256[]"
                        },
                        {
                            "indexed": false,
                            "internalType": "uint256[]",
                            "name": "values",
                            "type": "uint256[]"
                        }
                    ],
                    "name": "TransferBatch",
                    "type": "event"
                },
                {
                    "anonymous": false,
                    "inputs": [
                        {
                            "indexed": true,
                            "internalType": "address",
                            "name": "operator",
                            "type": "address"
                        },
                        {
                            "indexed": true,
                            "internalType": "address",
                            "name": "from",
                            "type": "address"
                        },
                        {
                            "indexed": true,
                            "internalType": "address",
                            "name": "to",
                            "type": "address"
                        },
                        {
                            "indexed": false,
                            "internalType": "uint256",
                            "name": "id",
                            "type": "uint256"
                        },
                        {
                            "indexed": false,
                            "internalType": "uint256",
                            "name": "value",
                            "type": "uint256"
                        }
                    ],
                    "name": "TransferSingle",
                    "type": "event"
                },
                {
                    "anonymous": false,
                    "inputs": [
                        {
                            "indexed": false,
                            "internalType": "string",
                            "name": "value",
                            "type": "string"
                        },
                        {
                            "indexed": true,
                            "internalType": "uint256",
                            "name": "id",
                            "type": "uint256"
                        }
                    ],
                    "name": "URI",
                    "type": "event"
                },
                {
                    "inputs": [
                        {
                            "internalType": "address[]",
                            "name": "to",
                            "type": "address[]"
                        }
                    ],
                    "name": "airdrop",
                    "outputs": [],
                    "stateMutability": "nonpayable",
                    "type": "function"
                },
                {
                    "inputs": [
                        {
                            "internalType": "address",
                            "name": "account",
                            "type": "address"
                        },
                        {
                            "internalType": "uint256",
                            "name": "id",
                            "type": "uint256"
                        }
                    ],
                    "name": "balanceOf",
                    "outputs": [
                        {
                            "internalType": "uint256",
                            "name": "",
                            "type": "uint256"
                        }
                    ],
                    "stateMutability": "view",
                    "type": "function"
                },
                {
                    "inputs": [
                        {
                            "internalType": "address",
                            "name": "account",
                            "type": "address"
                        }
                    ],
                    "name": "balanceOf",
                    "outputs": [
                        {
                            "internalType": "uint256",
                            "name": "",
                            "type": "uint256"
                        }
                    ],
                    "stateMutability": "view",
                    "type": "function"
                },
                {
                    "inputs": [
                        {
                            "internalType": "address[]",
                            "name": "accounts",
                            "type": "address[]"
                        },
                        {
                            "internalType": "uint256[]",
                            "name": "ids",
                            "type": "uint256[]"
                        }
                    ],
                    "name": "balanceOfBatch",
                    "outputs": [
                        {
                            "internalType": "uint256[]",
                            "name": "",
                            "type": "uint256[]"
                        }
                    ],
                    "stateMutability": "view",
                    "type": "function"
                },
                {
                    "inputs": [],
                    "name": "baseUri",
                    "outputs": [
                        {
                            "internalType": "string",
                            "name": "",
                            "type": "string"
                        }
                    ],
                    "stateMutability": "view",
                    "type": "function"
                },
                {
                    "inputs": [],
                    "name": "cost",
                    "outputs": [
                        {
                            "internalType": "uint256",
                            "name": "",
                            "type": "uint256"
                        }
                    ],
                    "stateMutability": "view",
                    "type": "function"
                },
                {
                    "inputs": [
                        {
                            "internalType": "address",
                            "name": "account",
                            "type": "address"
                        },
                        {
                            "internalType": "address",
                            "name": "operator",
                            "type": "address"
                        }
                    ],
                    "name": "isApprovedForAll",
                    "outputs": [
                        {
                            "internalType": "bool",
                            "name": "",
                            "type": "bool"
                        }
                    ],
                    "stateMutability": "view",
                    "type": "function"
                },
                {
                    "inputs": [],
                    "name": "maxPerMint",
                    "outputs": [
                        {
                            "internalType": "uint32",
                            "name": "",
                            "type": "uint32"
                        }
                    ],
                    "stateMutability": "view",
                    "type": "function"
                },
                {
                    "inputs": [],
                    "name": "maxPerWallet",
                    "outputs": [
                        {
                            "internalType": "uint32",
                            "name": "",
                            "type": "uint32"
                        }
                    ],
                    "stateMutability": "view",
                    "type": "function"
                },
                {
                    "inputs": [
                        {
                            "internalType": "uint32",
                            "name": "count",
                            "type": "uint32"
                        }
                    ],
                    "name": "mint",
                    "outputs": [],
                    "stateMutability": "payable",
                    "type": "function"
                },
                {
                    "inputs": [],
                    "name": "name",
                    "outputs": [
                        {
                            "internalType": "string",
                            "name": "",
                            "type": "string"
                        }
                    ],
                    "stateMutability": "view",
                    "type": "function"
                },
                {
                    "inputs": [],
                    "name": "open",
                    "outputs": [
                        {
                            "internalType": "bool",
                            "name": "",
                            "type": "bool"
                        }
                    ],
                    "stateMutability": "view",
                    "type": "function"
                },
                {
                    "inputs": [],
                    "name": "owner",
                    "outputs": [
                        {
                            "internalType": "address",
                            "name": "",
                            "type": "address"
                        }
                    ],
                    "stateMutability": "view",
                    "type": "function"
                },
                {
                    "inputs": [],
                    "name": "renounceOwnership",
                    "outputs": [],
                    "stateMutability": "nonpayable",
                    "type": "function"
                },
                {
                    "inputs": [
                        {
                            "internalType": "address",
                            "name": "from",
                            "type": "address"
                        },
                        {
                            "internalType": "address",
                            "name": "to",
                            "type": "address"
                        },
                        {
                            "internalType": "uint256[]",
                            "name": "ids",
                            "type": "uint256[]"
                        },
                        {
                            "internalType": "uint256[]",
                            "name": "amounts",
                            "type": "uint256[]"
                        },
                        {
                            "internalType": "bytes",
                            "name": "data",
                            "type": "bytes"
                        }
                    ],
                    "name": "safeBatchTransferFrom",
                    "outputs": [],
                    "stateMutability": "nonpayable",
                    "type": "function"
                },
                {
                    "inputs": [
                        {
                            "internalType": "address",
                            "name": "from",
                            "type": "address"
                        },
                        {
                            "internalType": "address",
                            "name": "to",
                            "type": "address"
                        },
                        {
                            "internalType": "uint256",
                            "name": "id",
                            "type": "uint256"
                        },
                        {
                            "internalType": "uint256",
                            "name": "amount",
                            "type": "uint256"
                        },
                        {
                            "internalType": "bytes",
                            "name": "data",
                            "type": "bytes"
                        }
                    ],
                    "name": "safeTransferFrom",
                    "outputs": [],
                    "stateMutability": "nonpayable",
                    "type": "function"
                },
                {
                    "inputs": [
                        {
                            "internalType": "address",
                            "name": "operator",
                            "type": "address"
                        },
                        {
                            "internalType": "bool",
                            "name": "approved",
                            "type": "bool"
                        }
                    ],
                    "name": "setApprovalForAll",
                    "outputs": [],
                    "stateMutability": "nonpayable",
                    "type": "function"
                },
                {
                    "inputs": [
                        {
                            "internalType": "uint256",
                            "name": "_cost",
                            "type": "uint256"
                        }
                    ],
                    "name": "setCost",
                    "outputs": [],
                    "stateMutability": "nonpayable",
                    "type": "function"
                },
                {
                    "inputs": [
                        {
                            "internalType": "uint32",
                            "name": "_max",
                            "type": "uint32"
                        }
                    ],
                    "name": "setMaxPerMint",
                    "outputs": [],
                    "stateMutability": "nonpayable",
                    "type": "function"
                },
                {
                    "inputs": [
                        {
                            "internalType": "bool",
                            "name": "_open",
                            "type": "bool"
                        }
                    ],
                    "name": "setOpen",
                    "outputs": [],
                    "stateMutability": "nonpayable",
                    "type": "function"
                },
                {
                    "inputs": [
                        {
                            "internalType": "string",
                            "name": "_uri",
                            "type": "string"
                        }
                    ],
                    "name": "setURI",
                    "outputs": [],
                    "stateMutability": "nonpayable",
                    "type": "function"
                },
                {
                    "inputs": [
                        {
                            "internalType": "uint32",
                            "name": "_max",
                            "type": "uint32"
                        }
                    ],
                    "name": "setmaxPerWallet",
                    "outputs": [],
                    "stateMutability": "nonpayable",
                    "type": "function"
                },
                {
                    "inputs": [],
                    "name": "supply",
                    "outputs": [
                        {
                            "internalType": "uint32",
                            "name": "",
                            "type": "uint32"
                        }
                    ],
                    "stateMutability": "view",
                    "type": "function"
                },
                {
                    "inputs": [
                        {
                            "internalType": "bytes4",
                            "name": "interfaceId",
                            "type": "bytes4"
                        }
                    ],
                    "name": "supportsInterface",
                    "outputs": [
                        {
                            "internalType": "bool",
                            "name": "",
                            "type": "bool"
                        }
                    ],
                    "stateMutability": "view",
                    "type": "function"
                },
                {
                    "inputs": [],
                    "name": "symbol",
                    "outputs": [
                        {
                            "internalType": "string",
                            "name": "",
                            "type": "string"
                        }
                    ],
                    "stateMutability": "view",
                    "type": "function"
                },
                {
                    "inputs": [],
                    "name": "totalSupply",
                    "outputs": [
                        {
                            "internalType": "uint32",
                            "name": "",
                            "type": "uint32"
                        }
                    ],
                    "stateMutability": "view",
                    "type": "function"
                },
                {
                    "inputs": [
                        {
                            "internalType": "address",
                            "name": "newOwner",
                            "type": "address"
                        }
                    ],
                    "name": "transferOwnership",
                    "outputs": [],
                    "stateMutability": "nonpayable",
                    "type": "function"
                },
                {
                    "inputs": [
                        {
                            "internalType": "uint256",
                            "name": "_tokenId",
                            "type": "uint256"
                        }
                    ],
                    "name": "uri",
                    "outputs": [
                        {
                            "internalType": "string",
                            "name": "",
                            "type": "string"
                        }
                    ],
                    "stateMutability": "view",
                    "type": "function"
                },
                {
                    "inputs": [],
                    "name": "withdraw",
                    "outputs": [],
                    "stateMutability": "payable",
                    "type": "function"
                }
            ]}
        }
        },
        async mounted(){
            if (this.chain_id == "0x1") {
                this.provider = "https://mainnet.infura.io/v3/d6c7a2d0b9bd40afa49d2eb06cc5baba"
                this.token_name = 'ETH'
            }
            else if (this.chain_id  == "0x4") {
                this.provider = "https://rinkeby.infura.io/v3/d6c7a2d0b9bd40afa49d2eb06cc5baba"
                this.token_name = 'ETH'
            }
            else if (this.chain_id  == "0x89" || this.chain_id  == "0x137"){
                chain_id = "0x89"
                this.provider = "https://polygon-mainnet.infura.io/v3/d6c7a2d0b9bd40afa49d2eb06cc5baba"
                this.token_name = 'MATIC'
            }
            else if (this.chain_id  == "0x13881" || this.chain_id  == "0x80001"){
                chain_id = "0x13881"
                this.provider = "https://polygon-mumbai.infura.io/v3/d6c7a2d0b9bd40afa49d2eb06cc5baba"
                this.token_name = 'MATIC'
            }
            this.web3 = new Web3(Web3.givenProvider)
            this.web3_infura = new Web3(new Web3.providers.HttpProvider(this.provider))
            await this.get_all_contract_info(this.contract_address, this.abi_json)

            // ethereum.on('chainChanged', (_chainId) => window.location.reload());
        },
        methods:{
            async get_all_contract_info(contract_address, abi_json){
                this.contract = new this.web3_infura.eth.Contract(abi_json['abi'], contract_address)
                let _supply = await this.contract.methods.supply().call()
                this.supply = parseInt(_supply)
                let _totalSupply = await this.contract.methods.totalSupply().call()
                this.totalSupply = parseInt(_totalSupply)
                this.mintCostWei = await this.contract.methods.cost().call()
                this.mint_cost_ether = parseFloat(this.web3.utils.fromWei(this.mintCostWei, 'ether'))
                this.base_uri = await this.contract.methods.baseUri().call()
                if(this.supply < this.totalSupply){
                    this.open_bool = await this.contract.methods.open().call()
                }
                
                if(this.is_owner){
                    this.max_per_wallet = await this.contract.methods.maxPerWallet().call()
                    this.max_per_mint = await this.contract.methods.maxPerMint().call()
                    let balanceWei = await new this.web3_infura.eth.getBalance( contract_address)
                    this.balance = parseFloat(this.web3.utils.fromWei(balanceWei, 'ether'))
                }
            },
            openCollection(){
                this.admin_section = false
                this.collection_section = true
            },
            openAdmin(){
                this.collection_section = false
                this.admin_section = true 
            },
        }
    })
    
    app.component('nft-title',{
        delimiters: ["[[", "]]"],
        template:`
        <div class="mint_title center"> 
            <h1 class="no_margin">{{collection_name}}</h1>             
            <h2 class="no_margin">by <a class="main_color_background_text" href="{% url 'main:profile' owner.username_slug %}">{{owner.username}}</a></h2>
        </div>
        `
    })
    
    app.component('nft-images',{
        delimiters: ["[[", "]]"],
        props: ['baseuri','totalsupply'],
        data(){
            return{
                uri_list: []
            }
        },
        template:`
            <div class="mint_card border rounded_container_no_padding">
                <div class="loading_circle"></div>
                <img src="" class="nft_image" style="display: none;">
                <img src="" class="nft_image" style="display: none;">
                <img src="" class="nft_image" style="display: none;">
                <img src="" class="nft_image" style="display: none;">
                <img src="" class="nft_image" style="display: none;"> 
            </div>
        `,
        methods:{
            async fetchImages(){
                if (this.baseuri!=null && typeof(this.baseuri)!='undefined') {
                for (let i = 0; i < 5; i++) { 
                    let rand = getRandomInt(0, this.totalsupply)
                        await fetch(`${this.baseuri}${rand}.json`)
                        .then(res => res.json()) // how to fix? new event listener?
                        .then((out) => {
                            this.uri_list.push(out['image'])
                        })
                        .catch((err) => {
                            
                        });
                }
                this.populateImages()
                }
            },
            populateImages(){
                nft_images = document.querySelectorAll('.nft_image')
                for (let i = 0; i < nft_images.length; i++) {
                    nft_images[i].src = this.uri_list[i]
                }

                nft_images[0].onload = function () {
                    document.querySelector(".loading_circle").style.display = 'none'
                }
                var active_img = nft_images[0]
                active_img.style.display='flex'
                var i = 1;
                var timer = setInterval(function () {
                    // If we've reached the end of the array...
                    if (i >= 5) {
                        i = 0;
                    }
                    active_img.style.display = 'none'
                    nft_images[i].style.display = 'flex'
                    active_img = nft_images[i]
                    i++
                }, 2000);
            },
        },
        watch:{
            $props:{
                handler(){
                     this.$nextTick(()=>{this.fetchImages()})
                    
                },
                deep: true,
                immediate: true,
            }
        }
    })

    app.component('nft-mint',{
        delimiters: ["[[", "]]"],
        props: ['totalsupply','supply','web3','mintcostwei', 'tokenname', 'chainid', 'contractaddress','openbool', 'contract'],
        data(){
            return{
                mint_number: 1,
                mint_cost: 0,
                active_account:null
            }
        },
        template:`
        <div class="mint_buttons_wrapper">
            <div class="mint_buttons center">
                <template v-if:="openbool">
                    <button type="button" class="rounded_container grow card_main_color_background border" id="mint_button" @click="mintNFT">
                        <h2 class="no_margin">MINT</h2>
                    </button>
                    <select v-model="mint_number" id="mint_select" name="select" class="card_main_color_background rounded_container border grow" @change="mintCost">
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </template>
                <template v-if:="!openbool">
                    <button type="button" class="rounded_container grow card_main_color_background border" id="mint_button" @click="mintNFT" disabled>
                        <h2 class="no_margin">MINT</h2>
                    </button>
                    <select v-model="mint_number" id="mint_select" name="select" class="card_main_color_background rounded_container border grow" @change="mintCost" disabled>
                        <option value="1">1</option>
                        <option value="2">2</option>
                        <option value="3">3</option>
                        <option value="4">4</option>
                        <option value="5">5</option>
                    </select>
                </template>
            </div>
            
            <div class="mint_buttons center">
                <p class="mint_supply no_margin">
                   [[supply]] of [[totalsupply]] minted
                </p>
                <p ref="mint_cost" class="mint_supply no_margin" id="mint_cost">
                    [[mint_cost]] [[tokenname]]
                </p>
            </div>
            
        </div>
        `, 
        methods:{
            async mintNFT(){
                await this.metamask_check().then(async () =>{
                    await this.get_chainid().then(async ()=>{
                        await ethereum
                            .request({
                                method: 'eth_sendTransaction',
                                params: [
                                    {
                                        from: this.active_account,
                                        to: this.contractaddress,
                                        // gas: '0x210000',//180-200k usually
                                        gasLimit: '0x21000000',
                                        data: this.abi_token_uri(parseInt(this.mint_number)),
                                        chainId: this.chainid.toString(),
                                        value: (parseFloat(this.mintcostwei) * parseInt(this.mint_number)).toString(16)
                                    },
                                ],
                            })
                            .then(async (txHash) => {
                                let txReceipt
                                while (!txReceipt) {
                                    try {
                                        txReceipt = await this.web3.eth.getTransactionReceipt(txHash)
                                    } catch (err) {
                                        return
                                    }
                                }
                                let supply = await this.contract.methods.supply().call()
                                let totalSupply = await this.contract.methods.totalSupply().call()
                                if (parseInt(supply) >= parseInt(totalSupply)){
                                    ajax_post_json({'contract_minted_check': '' })
                                }  
                            })
                            .catch((error) => {
                                throw (error)
                            });
                    })
                 })
            },
            abi_token_uri(amount) {
                let token_uri = this.web3.eth.abi.encodeFunctionCall({
                    "inputs": [
                        {
                            "internalType": "uint32",
                            "name": "count",
                            "type": "uint32"
                        }
                    ],
                    "name": "mint",
                    "outputs": [],
                    "stateMutability": "payable",
                    "type": "function"
                }, [amount]
                );
            return token_uri;
            },
            mintCost(){
                mintCostEther = parseFloat(this.web3.utils.fromWei(this.mintcostwei, 'ether'))
                this.mint_cost = this.mint_number * mintCostEther
            },
            async metamask_check() {
                const provider = await detectEthereumProvider();

                if (provider) {
                    await this.startApp(provider)
                } else {
                    alert('Please install MetaMask!');
                }
            },
            async startApp(provider) {
                if (provider !== window.ethereum) {
                    console.error('Do you have multiple wallets installed?');
                    alert('Could not connect to Metamask, do you have multiple wallets installed?')
                } else {
                    await ethereum
                        .request({ method: 'eth_requestAccounts' })
                        .then((response) => {
                            this.active_account = response[0]
                        })
                        .catch((err) => {
                            if (err.code === 4001) {
                                
                                alert('Please connect to MetaMask.');
                                throw (err)
                            } else {
                                throw (err)
                            }
                        });

                }
            },
            async get_chainid(chainid) {
                active_chain_id = await ethereum.request({ method: 'eth_chainId' });
                if (active_chain_id != this.chainid) {
                    try {
                        await ethereum.request({
                            method: 'wallet_switchEthereumChain',
                            params: [{ chainId: this.chainid }],
                        });
                    } catch (error) {
                        alert("You do not have this network installed on your Metamask account")
                        throw(error)
                    }
                    
                }
            }
        },
        watch: { 
            mintcostwei: function() {
                this.mintCost()
            }
        }
    })
    
    app.component('nft-description',{
        delimiters: ["[[", "]]"],
        template:`
            <div class="mint_description center card_main_color_background">
                <h1>Description</h1>
                <p>{{description}}</p>
            </div>
        `
    })
    
    app.component('section-toggle',{
        delimiters: ["[[", "]]"],
        emits:['admin-section', 'collection-section'],
        props: ['admin', 'collection'],
        template:`
        <div style="justify-content: center; display: flex; width: 100%; margin-top: 20px;">
            <div class="upload_section_swap rounded_container border" style="width: 100%;
    max-width: 400px;">
            <template v-if:="collection">
            <h2 class="rounded_container" @click="collectionSection" style="background: var( --border-color);">Collection</h2> 
            </template> 
            <template v-else>
                <h2 class="rounded_container" @click="collectionSection">Collection</h2>  
            </template>

            <template v-if:="admin">
            <h2 class="rounded_container" @click="adminSection" style="background: var( --border-color);">Admin</h2>
            </template>
            <template v-else>
                <h2 class="rounded_container" @click="adminSection">Admin</h2>
            </template>
            
        </div>
        `,
        methods :{
            collectionSection(){
                this.$emit('collection-section')
            },
            adminSection(){
                this.$emit('admin-section')
            }
        }
    })

    app.component('admin-properties', {
        delimiters: ["[[", "]]"],
        props: ['totalsupply', 'supply', 'mintcostether','web3', 'balance', 'maxperwallet','maxpermint', 'chainid', 'activeaccount', 'contractaddress','openbool'],
        emits:['close-loading'],
        template:`
        <div class="admin_body rounded_container border all_collections_layout card_main_color_background">
            <div class="admin_column">
                <div>
                    <template v-if:="open_bool">
                        <h3 style="margin:0">Sale Open</h3>
                    </template>
                    <template v-if:="!open_bool">
                        <h3 style="margin:0">Sale Closed</h3>
                    </template>
                    <label class="switch">
                        <input type="checkbox" @click="setOpen" ref="open_toggle">
                        <span class="slider round"></span>
                    </label>
                </div>
                <div>
                    <div class="open_status left_round_container_5px" style="margin:0">
                        <h4 class="no_margin">
                        Balance
                        </h4>
                    </div>    
                    <input
                        readonly
                        type="text"
                        :value="[[balance]]"
                        id="no_edit"
                    />
                    <button class="general_button_no_border main_color_background border right_round_container_5px" style="margin:0; color:white" @click="withdraw">Withdraw</button>  
                </div>

                <div>
                    <div class="open_status left_round_container_5px" style="margin:0">
                        <h4 class="no_margin">
                        Cost
                        </h4>
                    </div>    
                    <input
                        required
                        type="number"
                        step=0.000000000000000001
                        @change = "validateField"
                        v-model="mint_cost"
                        :value="[[mint_cost]]"
                    />
                    <button class="general_button_no_border main_color_background border right_round_container_5px" style="margin:0; color:white" @click="mintCost">Publish</button>  
                </div>

                <div>
                    <div class="open_status left_round_container_5px" style="margin:0">
                        <h4 class="no_margin">
                        Max per Mint
                        </h4>
                    </div>    
                    <input
                        required
                        type="number"
                        min="0"
                        @change = "validateField"
                        v-model="max_per_mint"
                        :value="[[max_per_mint]]"
                    />
                    <button class="general_button_no_border main_color_background border right_round_container_5px" style="margin:0; color:white" @click="maxPerMint">Publish</button>  
                </div>

                <div>
                    <div class="open_status left_round_container_5px" style="margin:0">
                        <h4 class="no_margin">
                        Max per Wallet</h4>
                    </div>    
                    <input
                        required
                        type="number"
                        min="0"
                        @change = "validateField"
                        v-model="max_per_wallet"
                        :value="[[max_per_wallet]]"
                    />
                    <button class="general_button_no_border main_color_background border right_round_container_5px" style="margin:0; color:white" @click="maxPerWallet">Publish</button>  
                </div>
                
                <div>
                    <div class="open_status left_round_container_5px" style="margin:0">
                        <h4 class="no_margin">
                        Supply
                        </h4>
                    </div>    
                    <input
                        readonly
                        type="text"
                        maxlength="50"
                        :value="[[supply]]"
                        id="no_edit"
                    />
                    <button class="general_button_no_border main_color_background border right_round_container_5px" style="margin:0; color:white" disabled>Publish</button>  
                </div>

                <div>
                    <div class="open_status left_round_container_5px" style="margin:0">
                        <h4 class="no_margin">
                        Total Supply
                        </h4>
                    </div>    
                    <input
                        readonly
                        type="text"
                        maxlength="50"
                        :value="[[totalsupply]]"
                        id="no_edit"
                    />
                    <button class="general_button_no_border main_color_background border right_round_container_5px" style="margin:0; color:white" disabled>Publish</button>  
                </div>
            </div>
            <div class="admin_column">
                 <h3 style="margin:0">Air Drop</h3>
                <p>Add addresses separated by commas, you can add the same address mutiple times</p>
            
                <textarea style="resize: vertical; flex: 1;" required="" class="inputize" name="description" type="" maxlength="300"></textarea>
            </div>
        </div>    
        `, 
        data() {
            return {
                active_account: null,
                mint_cost: null,
                max_per_mint: null,
                max_per_wallet: null,
                open_bool: false,
                withdraw_abi: {
                    "inputs": [],
                    "name": "withdraw",
                    "outputs": [],
                    "stateMutability": "payable",
                    "type": "function"
                },
                cost_abi:{
                    "inputs": [
                        {
                        "internalType": "uint256",
                        "name": "_cost",
                        "type": "uint256"
                        }
                    ],
                    "name": "setCost",
                    "outputs": [],
                    "stateMutability": "nonpayable",
                    "type": "function"
                },
                max_mint_abi:{
                    "inputs": [
                        {
                        "internalType": "uint32",
                        "name": "_max",
                        "type": "uint32"
                        }
                    ],
                    "name": "setMaxPerMint",
                    "outputs": [],
                    "stateMutability": "nonpayable",
                    "type": "function"
                },
                max_wallet_abi:{
                    "inputs": [
                        {
                        "internalType": "uint32",
                        "name": "_max",
                        "type": "uint32"
                        }
                    ],
                    "name": "setmaxPerWallet",
                    "outputs": [],
                    "stateMutability": "nonpayable",
                    "type": "function"
                },
                set_open_abi:{
                    "inputs": [
                        {
                            "internalType": "bool",
                            "name": "_open",
                            "type": "bool"
                        }
                    ],
                        "name": "setOpen",
                            "outputs": [],
                                "stateMutability": "nonpayable",
                                    "type": "function"
                },
            }
        },
        methods:{
            validateField(event){
                if (event.target.checkValidity()) {
                event.target.classList.add("field_success")
                event.target.classList.remove("field_error")
                } else {
                event.target.classList.remove("field_success")
                event.target.classList.add("field_error")
                }
            },
            withdraw(){
                // let parameters = this.encodeAbi(this.withdraw_abi)
                let parameters = this.web3.eth.abi.encodeFunctionCall(this.withdraw_abi,[])
                this.contractInteraction(parameters)
            },
            mintCost(){
                
                let cost_ether = this.web3.utils.toWei(String(this.mint_cost), 'ether')
                
                let parameters = this.web3.eth.abi.encodeFunctionCall(this.cost_abi,[cost_ether])
                this.contractInteraction(parameters)
            },
            maxPerMint(){
                let parameters = this.web3.eth.abi.encodeFunctionCall(this.max_mint_abi,[this.max_per_mint])
                this.contractInteraction(parameters)
            },
            maxPerWallet(){
                let parameters = this.web3.eth.abi.encodeFunctionCall(this.max_wallet_abi,[this.max_per_wallet])
                this.contractInteraction(parameters)
            },
            setOpen() {
                this.open_bool = !this.open_bool
                let parameters = this.web3.eth.abi.encodeFunctionCall(this.set_open_abi,[this.open_bool])
                this.contractInteraction(parameters, true)
            },
            async contractInteraction(parameter, onError=null){
                await this.metamask_check().then(async () =>{
                    await this.get_chainid().then(async ()=>{
                        await ethereum
                            .request({
                                method: 'eth_sendTransaction',
                                params: [
                                    {
                                        from: this.active_account,
                                        to: this.contractaddress,
                                        gasLimit: '0x21000000',
                                        data: parameter,
                                        chainId: this.chainid.toString(),
                                    },
                                ],
                            })
                            .then(function (txHash) {
                                
                            })
                            .catch((error) => {
                                if(onError){
                                    this.open_bool = !this.open_bool
                                    this.$refs.open_toggle.checked = !this.$refs.open_toggle.checked
                                }
                                throw (error)
                            });
                    })
                 })
            },
            async get_chainid() {
                active_chain_id = await ethereum.request({ method: 'eth_chainId' });
                if (active_chain_id != this.chainid) {
                    try {
                        await ethereum.request({
                            method: 'wallet_switchEthereumChain',
                            params: [{ chainId: this.chainid.toString() }],
                        });
                    } catch (error) {
                        alert("You do not have this network installed on your Metamask account")
                        throw(error)
                    }
                    
                }
            },
            async metamask_check() {
                const provider = await detectEthereumProvider();

                if (provider) {
                    await this.startApp(provider)
                } else {
                    alert('Please install MetaMask!');
                }
            },
            async startApp(provider) {
                if (provider !== window.ethereum) {
                    console.error('Do you have multiple wallets installed?');
                    alert('Could not connect to Metamask, do you have multiple wallets installed?')
                } else {
                    await ethereum
                        .request({ method: 'eth_requestAccounts' })
                        .then((response) => {
                            this.active_account = response[0]
                        })
                        .catch((err) => {
                            if (err.code === 4001) {
                                
                                alert('Please connect to MetaMask.');
                                throw (err)
                            } else {
                                throw (err)
                            }
                        });

                }
            },
            init_button(){
                this.open_bool = this.openbool
                if (this.open_bool) {
                    this.$refs.open_toggle.checked = true
                }
            },
            // some where else
            set_open_status_public() {
                if (this.open) {
                    mint_button.disabled = false
                }
                else {
                    mint_button.disabled = true
                }
            },
        
        },
        watch: { 
            mintcostether: function() {
               this.mint_cost = this.mintcostether
            },
            maxpermint: function() {
                this.max_per_mint = this.maxpermint
            },
            maxperwallet: function() {
                this.max_per_wallet = this.maxperwallet
            },
            openbool: function() {
                this.init_button()
            }
            
        }
    })

    app.mount('#mint-wrapper')
</script>
{% endblock %}